<!DOCTYPE html>
<html>
<head>
    <title>Dispense your candy reward!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<center>
<div class="panel panel-default" style="max-width: 90ex; margin: 5em">
  <div class="panel-heading">
    <h3 class="panel-title">Congratulations!  Dispense your candy reward by clicking the button.</h3>
  </div>
  <div class="panel-body text-center">
    <form method="post" action="" name="dispense">
        <input type="submit" value="Dispense" class="btn btn-success btn-lg">
    </form><br/>
    <small>Note:  This reward only works once.  Be sure you are at the candy dispenser.</small>
  </div>
</div>
</center>

</body>
</html>
