<!DOCTYPE html>
<html>
<head>
    <title>Reward not found.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<center>
<div class="alert alert-danger" role="alert" style="max-width: 90ex; margin: 5em">
<span class="glyphicon glyphicon-exclamation-sign" color="red" style="margin-right: 0.5ex"></span>
Sorry, that reward is not available.  Please note that each reward may only be redeemed once.
</div>
</center>
</body>
</html>
